@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.block-1 {
  font-family: Lato;
}
.block-1__body {
  background: url(/img/header/bg_header_743.jpg) no-repeat;
  background-size: cover;
  color: #ffff;
  height: 1080px;
  max-height: 100%;
}
.block-1__header {
  max-width: 823px;
  max-height: auto;
  margin: 0px auto;
  text-align: center;
}
.block-1__logo {
  width: 195px;
  height: 123px;
  margin: 0px auto;
  padding: 164px 0 159px 0;
}
.block-1__text {
  position: relative;
  margin: 10px auto;
  text-align: center;
  font-size: 26px;
  letter-spacing: 4.16px;
}
.block-1__text:after {
  content: "";
  position: absolute;
  width: 81px;
  height: 1px;
  left: 50%;
  bottom: -49px;
  margin: 0 0 0 -40px;
  background-color: #ffffff;
}
.block-1__read {
  border: 1px solid #ffffff;
  height: 47px;
  max-width: 182px;
  margin: 227px auto 0;
  padding: 16px;
}
.block-1__read-title {
  text-align: center;
  height: 13px;
  font-size: 16px;
  letter-spacing: 0.96px;
}
.block-1__arrow {
  width: 17px;
  height: 10px;
  padding: 75px 0 0 0;
  margin: 0 auto;
}

.nav {
  box-shadow: 0.5px 0.9px 0 0 rgba(0, 0, 0, 0.05);
  width: 100%;
}
.nav__column-menu {
  max-width: 422px;
  margin: 0px auto;
  padding: 22px 0 24px 0;
}
.nav__menu {
  display: flex;
  justify-content: space-around;
}
.nav__item:hover:nth-child(1) {
  color: #ada074;
}
.nav__item:hover:nth-child(2) {
  color: #ada074;
}
.nav__item:hover:nth-child(3) {
  color: #ada074;
}
.nav__item:hover:nth-child(4) {
  color: #ada074;
}

.block1-1 {
  max-width: 754px;
}
.block1-1__title {
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 900;
  line-height: 1.18;
  letter-spacing: 5.44px;
  text-align: center;
  margin: 120px 0 0 0;
}

.about {
  font-family: Lato;
}
.about__body {
  max-width: 823px;
  margin: 0px auto;
}
.about__header {
  margin: 186px 0 65px 0;
}
.about__title {
  margin: 0 0 30px 0;
}
.about__text {
  max-width: 690px;
  margin: 0px auto;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #868585;
}
.about__row {
  display: flex;
  font-size: 0px;
  margin: 0px -15px;
}
.about__column {
  padding: 0 15px;
  flex: 0 0 33.333%;
}

.title {
  position: relative;
  text-align: center;
  padding: 0 0 30px;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #000000;
}
.title:after {
  content: "";
  position: absolute;
  width: 81px;
  height: 1px;
  bottom: 0;
  left: 50%;
  margin: 0 0 0 -40px;
  background-color: #000000;
}

.item-about__icon {
  margin: 0 auto 37px auto;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  border: solid 2px #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-about__title {
  text-align: center;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.16em;
  color: #000000;
  margin: 0 0 35px 0;
}
.item-about__text {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #868585;
}

.portfolio {
  font-family: Lato;
  background: #f3f3f3;
}
.portfolio__body {
  max-width: 1100px;
  margin: 0px auto;
}
.portfolio__header {
  padding: 107px 0 0 0;
  margin: 95px 0 0 0;
}
.porfolio__item {
  margin: 0px auto;
  max-width: 294px;
}
.portfolio__row {
  display: flex;
  justify-content: space-around;
  margin: 50px 0 0 0;
  color: #3c3c3c;
}

.img-body {
  max-width: 1100px;
}
.img-body__media1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 0 1 50%;
  margin: 136px 0 0 0;
}
.img-body__1 {
  background-image: url(/img/portfolio/studio-republic-fotK.jpg);
  background-size: cover;
  width: 538px;
  height: 365px;
  margin: 0 24px 16px 0;
}
.img-body__2 {
  background-image: url(/img/portfolio/studio-republic-fotK.jpg);
  background-size: cover;
  width: 538px;
  height: 365px;
}
.img-body__3 {
  background-image: url(/img/portfolio/studio-republic-fotK.jpg);
  background-size: cover;
  width: 538px;
  height: 365px;
  margin: 0 24px 16px 0;
}
.img-body__4 {
  background-image: url(/img/portfolio/studio-republic-fotK.jpg);
  background-size: cover;
  width: 538px;
  height: 365px;
}
.img-body__5 {
  background-image: url(/img/portfolio/studio-republic-fotK.jpg);
  background-size: cover;
  width: 538px;
  height: 365px;
}
.img-body__6 {
  background-image: url(/img/portfolio/studio-republic-fotK.jpg);
  background-size: cover;
  width: 538px;
  height: 365px;
  margin: 16px 0 0 0;
}

.portfolio__read {
  border: 1px solid #000000;
  height: 47px;
  max-width: 182px;
  padding: 16px;
  margin: 0px auto;
}

.portfolio__read-title {
  text-align: center;
  height: 13px;
  font-size: 16px;
  letter-spacing: 0.96px;
}

.portfolio__wrap {
  padding: 62px 0 64px 0;
}

.partners__body {
  background: url(/img/partners/bg_header_copy_884.png) no-repeat;
  background-size: cover;
  color: #ffff;
  height: 390px;
  max-height: 100%;
}
.partners__title {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 100px 0 0 0;
}
.partners__item li:nth-child(1) {
  background: url(/img/partners/alex_101.png);
}